<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 235px;">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>

            
            <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">reparación de computadoras</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div> <br><br><br>

            <div class="text-center">
                <h1>Instalación Windows 10 PRO</h1>
            </div><br><br>
            <div class="container center">
                <div class="container" style="max-width: 780px;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/WindowsPro.jpg" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                        <h4 class="card-title">Windows Pro</h4>
                        <p class="card-text">Windows es el sistema operativo insignia de Microsoft, el estándar de facto para las computadoras domésticas y de negocios. El sistema operativo basado en una interfaz gráfica de usuario (GUI) fue introducido en 1985 y se han liberado muchas versiones desde entonces, como se describe a continuación y con un precio que esta en oferta es tan solo a 8.990 CLP con un IVA del 19%.</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Caracteristicas
                        </button>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdropLabel">Caracteristicas de Windows Pro</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Interfaz familiar para una transición fácil. <br>
                                    Seguridad avanzada con Windows Defender y actualizaciones regulares. <br>
                                    Productividad máxima con Cortana y escritorios virtuales. <br>
                                    Compatibilidad profesional para aplicaciones esenciales. <br>
                                    Gestión simplificada de dispositivos para administradores.
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                  <button type="button" class="btn btn-primary">Guardar</button>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
